*{
    margin: 0;
}
body{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

header{

    color:white;
}
h1{
    padding-left:1% ;
}
iframe{
    float:left;
    width: 100%;
}
footer{
    float:left;
    width: 100%;
    color:white;
    text-align: left;
    opacity: 0.4;

}
footer p{
    padding-top: 37px;
}