html, *{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(53,173,172);
    background: linear-gradient(90deg, rgba(53,173,172,1) 0%, rgba(8,154,123,1) 41%, rgba(51,6,128,1) 100%); 
}


#ramka{
    background: rgba(0, 0, 0, 0.144) ;
    border-radius: 20px;
    height: 70vh;
    width: 100vh;
    margin-left: 50vh;
    color: white;
}

img{
    float:left;
    width: 200px;
    height:200px;
}

.page-header{
    text-align: center;
}

blockquote{
    height: 200px;
    width: 75%;
    float:left;
}

#footer{
    text-align: left;
}
